<div class="card">
    <div class="card__img-wrapper">
        <img
                src="<%= recipe.image_url %>"
                alt="<%= recipe.title %>"
                class="card__img"
                onerror="this.src='/images/placeholder.png'"
        />
    </div>
    <h3 class="card__title"><%= recipe.title %></h3>
</div>