<% title = '홈' %>

<div class="main">
    <h2>추천 레시피</h2>
    <% if (!recipes.length) { %>
        <p>등록된 레시피가 없습니다.</p>
    <% } else { %>
        <div class="grid">
            <% recipes.forEach(recipe => { %>
                <%- include('partials/card', { recipe }) %>
            <% }) %>
        </div>
    <% } %>
</div>
